#content {
	background-color: #ffffff;
}

#content img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#eventdate {
	height:150px;
	width:50%;
	text-align: center;
}
#dividor {
	display:inline-block;
}
#eventdate .dateview {
	display:inline-block;
	margin-top:12px;
}