body {
	padding:0 0;
	margin:0 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(255,104,4,0.3);
}

/*Header styling*/
#navbar {
	position:fixed;
	background-color:#D4851C; /*Background color of navigation bar.*/
	width:100%;
	top: 0;
}
#navbar ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
#navbar ul li {
	float:left;
}
#navbar ul li a {
	display:block;
	text-align:center;
    text-decoration: none;
    padding: 14px 16px; /*First value adjusts height of navbar, second value adjusts width of each link.*/
	color:white;	/*Color of text for links*/
    font-size:100%;
}
#navbar ul li a:hover {
	/* Change color on mouse hover */
	color:#D4851C;
	background-color:white; /*backgroundcolor of the links take when hovered on*/
}

/*Content Styling*/
#content {
	margin-top:50px; /*Margin so that content doesn't appear behind header*/
}
